<!-- templates/new.html -->
<form method="post" action="">
{% csrf_token %}

Welcome to the Course Creation Page: {{request.user.username}}<br>
    
<label for="course_name:">Course Name:</label><br>
<input type="text" name="course_name"><br>

<label for="course_number">Course Number:</label><br>
<input type="text" name="course_number"><br>

<label for="start">Start Date:</label><br>
<input type="date" name="start"><br>

<label for="end">End Date:</label><br>
<input type="date" name="end"><br>

<!--<label for="meet_days">Meeting Days:</label><br>
    <input type="checkbox" name="Monday">
    Monday
    <input type="checkbox" name="Tuesday">
    Tuesday
    <input type="checkbox" name="Wednesday">
    Wednesday
    <input type="checkbox" name="Thursday">
    Thursday
    <input type="checkbox" name="Friday">
    Friday

<br><br>
-->

<label for="meet_days">Meeting Days:</label><br>
<input type='text' name='meet_days'><br>

<label for="meet_start">Meeting Start Time:</label><br>
<input type="time" name="meet_start"><br><br>

<label for="meet_end">Meeting End Time:</label><br>
<input type="time" name="meet_end"><br><br>

<input type="submit" value="Sign Up">
</form>

{{error}}